<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <label> Username: </label>
  <input type="text" name="username" placeholder="John_Smith"> <br>
  <label> Email: </label>
  <input type="text" name="email" placeholder="jsmith@email.com"> <br>
  <label> Password: </label>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="submit" value="Create User">
</form>
