<form action="/plans" method="POST">
  <label>Media Plan Name </label>
  <input type="text" name="plan_name">
  <label>Media Plan Budget </label>
  <input type="number" name="plan_budget">
  <input type="submit" value="submit">
</form>
